
name: Build on push

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      use_sstate:
        description: "Use SSTATE cache"
        required: false
        default: "false"

permissions:
  checks: write
  pull-requests: write
  contents: read
  packages: read

jobs:
  build:
    uses: ./.github/workflows/build-yocto.yml
    with:
      use_sstate: ${{ inputs.use_sstate || 'true' }}
  test:
    uses: ./.github/workflows/test.yml
    needs: [build]
    secrets: inherit
    with:
      build_id: ${{ github.run_id }}
